@font-face {
    font-family: 'Signika';
    src: url('../font/Signika-Regular.ttf');
}

body{
  background:#eaedf1;
 font-family: 'Signika', sans-serif;
}

/*header*/
.logo{
  float:left;
  margin-top:15px;
  margin-bottom:10px;
}

.searchbox{
  height: 37px;
  border-radius: 20px;
  margin-top:20px;
  float: left;
  margin-top:px;
  margin-left:60px;
}

/*header*/
.wrap{
  margin-top:40px;
}
.drop-message{
  margin-top:35px;
  background:#01BA8E;
  color:#ffffff; 
}
.drop-message li{
  padding:0px !important;
  margin: 0px !important;
}

/*sidebar */

sidebar{
  background: #ffffff;
}

.user{
  height: 123px;
  background:;
  float: left;
}
.user img{ 
margin-top:20px;
margin-left:20px;
margin-right: 15px;
float: left;
}
.name-panel{
  float:left;
  width: 150px;
}
.name{
  margin-top:35px;
  font-size:24px; 
  color: #5e6d81;
}
.subname{
  font-size: 14px;
  color: #9ea7b3;
  margin-top:-15px; 
}
.panel-status div{
   height: 64px;
    color:#ffffff;
}
.panel-status img{
  margin-top:14px;
  margin-left:20px;
}
.panel-status p{
  font-size: 11px;
  margin-left:15px;
  margin-top: 5px;
}
.panel-status-1{
 background: #14b9d6;
}
.panel-status-2{
 background: #f27935;
}
.panel-status-3{
 background: #01ba8e;
}

/* sidebarmenus */


.sidebar-menus ul{
  color:#5e6d81;
  font-size: 18px;
  margin-left: -40px;
  margin-top:px;
}
.sidebar-menus ul a{
  width:100%;
  height: 48px;
  display: inline-block;
  border:solid;
  border-color: #eaedf1;
  border-width: 0px 0px 2px 0px;
  background: #ffffff;
  margin:0px;
  float: left;
}
.sidebar-menus ul a li{
  list-style: none;
  float: left;
  padding-top: -10px;
}
.sidebar-menus ul a li span{
  padding-left:50px;
  padding-top:15px;
}
.sidebar-menus a{
  color:#5e6d81;
}
.menuactive{
  background: #01ba8e;
  color:#ffffff;
  width:100%;
  height: 48px;
  display: inline-block;
  border:solid;
  border-color: #eaedf1;
  border-width: 0px 0px 2px 0px;
  margin:0px;
  float: left;
}
.sidebar-menus a:hover{
background: #01ba8e;
color:#ffffff;
}

.side-menu{
background: #01ba8e;
color:#ffffff;
  width:100%;
  height: 48px;
  display: inline-block;
  border:solid;
  border-color: #eaedf1;
  border-width: 0px 0px 2px 0px;
  background: #ffffff;
  margin:0px;
  float: left;
}

/* sidebarmenus */

/*sidebar */

/* navigation */

/* resume  navigation*/
.content-nav-menu{
  font-size: 18px;
  float: left;
  background: #dbe1e8;
  margin-bottom:-55px;
  margin-top: 81px;
}
.content-nav-menu ul{
  margin-top:10px;

}
.content-nav-menu ul li{
  list-style: none;
  display: inline;
  float:left;

}
.content-nav-menu ul li a{
  padding:13px 20px 20px 20px;
  text-decoration: none;
  text-transform: none;
  float:left;
  color: #5e6d81;
}
.content-nav-menu ul li a:hover{
  padding:13px 20px 20px 20px;
  background:#ffffff;
  color:#01ba8e;
  float:left;
}
.content-nav-menu ul .active a{
 padding:13px 20px 20px 20px;
  background:#ffffff;
  color:#01ba8e;
  float:left;
  border:none;
}
/* resume  navigation*/



/* Main Content */

.content-header{
    background:#dbe1e8;
  padding-bottom: 55px;
}
.content-header h3{
  font-size: 24px;
  color: #5e6d81;
  margin-top: 40px;
  margin-left: 20px; 
  margin-bottom: 20px;
}
.cph-wrapper{
  margin-bottom:30px;
}
.content-panel{
  background: #ffffff;
  color: #5e6d81;
  font-size:14px;
  font-family: Myriad Pro;
  float:left;
}
.content-panel p{
    margin-top: 20px;
  margin-left: 30px;
}
.content-panel-header{
  background: #ffffff;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #dbe1e8;
  float: left;
  padding-bottom: 10px;
}
.img img{
  margin-top:40px; 
  background: #;
}
.content-panel-header h3{
  font-size:18px;
  color: #01ba8e;
  margin:23px 0px 20px 25px; 
 
}



/* Dashboard Content */
.content-panel-status{
  margin-top: 30px;
  margin-bottom: 30px;
  float: left;
}
.content-panel-status .div{
padding-left:0px;
}
.content-panel-status img{
  float:left;
  margin-right: 10px; 
}
.content-panel-status div a{
  text-transform: none;
  text-decoration: none;
  color: #415464;
  /*margin-left: 7px;*/

}
.content-panel-status h4{
font-size: 18px;
color: #5e6d81;
margin-top: 20px;
}
.content-panel-status p{
font-size: 14px;
color:#9ea7b3;
/*margin-top: 43px;
margin-left: -150px;
*/
}
.content-panel-status span{
  color: #01ba8e;
}
.content-panel-status a {
  text-decoration: none;
  text-transform: none;
  color: inherit;
}



/* Dashboard Content */



.content-panel-lc{
color:#9d9d9d;
margin-top: 53px;
}
.content-panel-lc span{
color:#61615f;
}
.content-panel-pc{
  float:right;
  margin-top:25px;
}
.content-panel-pc span{
  padding:7px;
  margin-left: 5px;
  border-radius: 20px;
  background: #dbe1e8;
  color: #ffffff;
  font-size: 15px;
}
.content-panel-pc span:hover{
 background: #01ba8e;
}

.navs{
background:#01ba8e;
padding-bottom: 10px;
}

.badge{
  margin-top:-35px;
  margin-left:-15px;
  background: #ff9186;
  height: 20px;
}
.jobbagde{
  padding:5px 12px;
  border-radius:20px;
  background: #dbe1e8;
  color:#a7afbb;
  text-align: center;
  margin:5px 10px 0px 0px;
  float: right;
}


.navicon{
margin-top:25px;
color:#008361;
font-size: 26px;
}

.navicon ul li{
  display: inline;
  margin-left:20px;
}
.navicon ul li i:hover{
  color:#ffffff;
}
.naviconactive{
  color:#ffffff;
}


.nav-menu{
  margin-top: 43px;
  margin-right:3px;
  float:right;
}
.line{
  background:#dbe1e8;
  height:1px;
}


/* Main Content */


.content-header-tabs img{
  float:left;
  background:#;
  width:100px;
  height: 100px;
  margin-right:5px;
}


/*jobs page */
.jobs{
  margin-left:100px;
  margin-top:20px;
}
.jobs h4{
font-size: 18px;
color: #5e6d81;
}
.jobs p{
  font-size: 14px;
color:#9ea7b3;
margin-top: -10px;
}
.content-panel-jobs{
  margin-top: 43px;
  margin-bottom: 36px;
}
.content-panel-jobs h4{
font-size: 18px;
color: #01ba8e;

}
.content-panel-jobs p{
font-size: 14px;
color:#9ea7b3;
margin-top:-5px;
}
.apply{
 margin-top:50px; 
}
.apply p{
  color: #9c9c9c;
  font-size:15px;
}



/*jobs page */



/*portfolio page */
.portfolio{
  height: 237px;
}
.portfolio p{
  color: #9ea7b3;
  font-size: 14px;
  margin:-20px 0px 0px 20px;
  
}
.content-portfolio{
  background: #ffffff;
  padding:10px 0px;
}
.content-portfolio nav{
   margin: 10px 0px;
   color:#9D6666;
   font-size:12px; 
}
.content-portfolio nav ul li{
  list-style: none;
  display: inline;
  margin: 5px;
}
.content-portfolio nav ul li a{
 text-decoration: none;
 text-transform: none;
 color:inherit;
}
.content-portfolio nav .active{
  color: #ffffff;
  font-size:12px;
  padding:2px 5px;
  border-radius: 1px;
  background:#16A087;
}



.portfolio-details .row{
   padding: 0px 5px;
}
.portfolio-details img{
  width: 161px;
  height: 161px;
  background: #333;
  background-size: 100%;
  border: solid;
  border-radius: 5px;
  border-width: 3px;
  border-color: #eaedf1;
  float:center;
}
.portfolio-details p{
  color:#5e6d81;
}








/*portfolio page */

.content-panel-jobs div a{
  text-transform: none;
  text-decoration: none;
  color:#415464 ;
}


/* content header profile/dashboard */

.content-profile img{
  float:left;
}
.content-profile-text p{
  font-size: 24px;
  color: #5e6d81;
  margin-top: 40px;
  margin-left: 20px; 
}
.cancel-button{
  float:right;
  margin-top:17px;
  margin-right:-10px;
}
.content-profile-people img{
 background: #;
 width: 84px;
 height: 84px;
 padding-right:0px;
}
.people-img{
 background:;
 padding-left:0px; 
}
.people-status{
background:#;
padding-left:0px;
padding-right:0px;
right:0px;
}
.people-name{
font-size: 18px;
color: #5e6d81;
}
.people-subname{
font-size: 14px;
color:#9ea7b3;
margin-top: -10px;
font-weight: 300;
}
/* content header profile/dashboard */
/*settings */

.theme img{
  width: 180px;
  height: 100px;
}
.theme select{
  margin:15px 0px;
  border-width:0px 0px 1px 0px;
  border-radius: 0px;
  padding-left: 20px;
  font-size:12px;
}
.theme input{
  margin:15px 0px 0px 0px;
  border-width:0px 0px 0px 0px;
  border-radius: 0px;
  padding-left: 20px;
  width: 100%;
  color: #5e6d81;
  font-size:14px;
}
.theme textarea{
  margin:15px 0px;
  border-width:0px 0px 1px 0px;
  border-radius: 0px;
  padding-left: 20px;
  font-size:12px;
}

.theme1 input[type=text]{

  margin:15px 0px 0px 0px;
  border-width:0px 0px 2px 0px;
  border-radius: 0px;
  padding-left: 20px;
  width: 100%;
  height:45px; 
  color: #5e6d81;
  font-size:15px;

}
.theme1 .input-file{

  margin:15px 0px 0px 0px;
  border-width:0px 0px 2px 0px;
  border-radius: 0px;
  padding-left: 20px;
  width: 100%;
  height:100px !important; 
  color: #5e6d81;
  font-size:15px;

}

.theme1 textarea{
  margin:15px 0px;
  border-width:0px 0px 2px 0px;
  border-radius: 0px;
  padding-left: 20px;
  font-size:15px;
  margin-top: 10px;
}
.theme1 select{
  margin:15px 0px;
  border-width:0px 0px 2px 0px;
  border-radius: 0px;
  padding-left: 20px;
  font-size:15px;
  margin-top: 10px;
}
.modal-footer button{
   margin-top: 10px;
   background:#ebebeb;
   border:none;
   color: #000;
}
.modal-footer button:hover{
   background:#01ba8e;
   color: #ffffff;
}











 
  










/*settings*/
/* buttons */
.content-panel button{
   /*width: 281px;
   height: 51px;*/
   padding:10px 50px;
   font-size: 20px;
   border-radius:5px;
   border: none;
   background:#ebebeb;
   margin: 250px 0px 30px 0px;
   color: #000;
}
.content-panel button:hover{
   background:#01ba8e;
   color: #ffffff;
}

.content-profile button{
  /*background:#ebebeb;
  margin: 250px 0px 30px 0px;
  color: #000;*/

}
.content-dashboard button{
  /*background:#01ba8e;
  margin: 25px 0px 30px 0px;*/

}
.content-experience button{
 /* color:#000000;
  background:#ebebeb;
  margin: 250px 0px 30px 0px;*/
}
.content-update button{
margin-top: 50px;
}

.following{
  padding:5px 10px;
  border-radius:7px;
  border:none;
  background: #01ba8e;
  color:#ffffff;
  font-size:12px;
    font-weight:300;

}
.follow{
  padding:5px 17px;
  border-radius:7px;
  background: #9ea7b3;
  color:#ffffff;
  border:none;
  font-size:12px;
  font-weight:300;
}
.following:hover{
  background: #9ea7b3;

}
.follow:hover{

    background: #01ba8e;
}


.apply button{
  background:#eaedf1;
  padding:4px 20px;
  border:none;
  border-radius:8px;
  color: #5e6d81; 
  margin-left: -2px; 
  font-weight: 300;
}
.apply button:hover{
  background: #01ba8e;
  color:#ffffff;
}
.view{
  background: #01ba8e;
  padding:4px 20px;
  border:none;
  border-radius:8px;
  color: #ffffff; 
  margin-left: -2px; 
  font-weight:300;
  font-size:12px;
}
.views{
  background: #9ea7b3;
  padding:4px 20px;
  border:none;
  border-radius:8px;
  color: #ffffff; 
  margin-left: -2px;
  font-weight:300;
  font-size:12px;
}
.view:hover{
  background: #9ea7b3;

}
.views:hover{

    background: #01ba8e;
}






.btn1{
 background: #00bff3;
}
.btn1{
   background: #1e786f;
}
/* content proflie */

/* sign up */

.header-background{
background:#80c385;
 /*background-image: url('../images/headerbackground.png');*/
  width: 100%;
  height: 400px;
  position: relative;
}
.signup{
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: 100% 400%;
}
.signup section{
  width: 351px;
  background: #ffffff;
  margin-bottom: 50px;
}

.signup input{
  width: 277px;
  height: 50px;
  font-size: 15px;
  border-width:0px 0px 1px 0px;
  border-radius: 0px;
  padding-left: 20px;
  font-weight: 300;
}
.signup h4{
  color: #acacac;
  font-family: Myriad Pro;
  padding: 10px;
}
.signup img{
  padding:10px 0px;
}
.singup p a{
  
}
.signuplogo{
  margin:10px;

}
.signupfooter p a{
text-decoration: none;
  text-transform: none;
  color:#acacac;
}
.signin{
   width: 281px;
   height: 51px;
   color:#ffffff;
   font-size: 18px;
   border-radius:5px;
   border: none;
   color:#000000;
   background:#ebebeb;
   margin: 25px 0px 30px 0px;
}
.signin:hover{
   background:#16A087;
   color:#ffffff;

}










.img-themes{
  width: 150px;
  height: 100px;
  padding: 0px 0px 5px 10px;
  margin-left: 18px;
}

/* sign up */
.ressuuhome {

  background-color:#;

  height: 100vh;
}
.ressuufooter button {

  font-family: 'Signika', sans-serif;
  font-size: 18px;
  color: #ffffff;
  text-align: center;
  padding: 7px 30px 7px 30px!important;


}
.ressuufooter {
     /* Height of the footer */
    background-color: #16a087;
    width: 100%;
    float: left;
    height:66px; 
    position:fixed ;
    bottom:0;

}

.ressuufooter p {
  
    color:#ffffff;
    font-size: 16px;
    font-family: 'Signika', sans-serif;
    font-weight: 700;
    margin-top:20px;

}
/*.btnwrap button{
  float:right;
  margin: 10px 10px 0px 0px;
  padding: 10px 10px 0px 0px;
  
}*/

.btnwrap button{
  float:right;
  margin: 10px 10px 0px 0px;
  
}
.btn2:hover {
  background-color: #00ABEF!important;  
}
.btn1:hover {
  background-color: #036E9A!important;  
}

.btn-danger {

  background-color: #1e786f!important;
  border: none!important;
  padding: 0px 20px 0px 20px!important;
}

.btn1 {

  font-family: 'Signika', sans-serif!important;
  font-weight: 700!important;
  background-color: #1e786f!important;
  border: none!important;
  
}

.btn2 {

  font-family: 'Signika', sans-serif!important;
  font-weight: 700!important;
  background-color: #1e786f!important;
  border: none!important;
  
}




@media screen and (max-width:600px) {
.navicon ul{
margin-top:10px; 
margin-left:100px;
}
.searchbox{
  margin:10px 0px 0px 5px;
}
.inner-addon .glyphicon {
  visibility: hidden;
}
}


/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: ;
  pointer-events: none;
  margin-top:29px;
  margin-left:13%;
  z-index: 99999;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


